html
{
  margin: 10px;
  font-size: 10pt;
}

@media (min-width:1025px) {
   .container-fluid { width: 80% !important;} 
   .card-img-bottom {
    width: 100%;
    height: auto;
    object-fit: scale-down;
  }
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

.badge.pstatus
{
  width: 100px;
}

.badge.done
{
  background-color: #4CAF50;
}

a.disabled {
  /* Make the disabled links grayish*/
  color: gray;
  /* And disable the pointer events */
  pointer-events: none;
}

div#status, div#showInfo, div#moreOptions, div#welcomeMessage, div#pogResults
{
  display: none;
}

span.filesize
{
  float: right;
}

div#nknConnectionStatus{
  transition: all 0.5s ease;
}

span.badge-torgui
{
  border: 1px solid darkgrey;
  font-size: 9px;
  padding: 2px;
  border-radius: 3px;
  margin-right: 3px;
  vertical-align: middle;
}

span.bit8
{
  border-right: 3px solid #ceae9b;
}

span.bit10
{
  border-right: 3px solid #8fbb8f;
}

span.badge-torgui.x264:after
{
  color: darkgrey;
  content: "x264"
}

span.badge-torgui.x265:after
{
  color: darkgreen;
  content: "x265"
}

div#center
{
  position: fixed;
  top: 50%;
  left: 50%;
  display: none;
}

div#moreOptions {
  display: none;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinnerInitial:before, .spinnerData:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
}

.spinnerInitial:before {
  border: 2px solid transparent;
  border-top-color: #07d;
  border-bottom-color: #07d;
  animation: spinner .8s ease infinite;
}

.spinnerData:before {
  border-top: 2px solid #07d;
  border-right: 2px solid transparent;
  animation: spinner .6s linear infinite;
}

.border-transparent {
  border-color: transparent;
}

.caption-bg {
  background-color: rgba(0,0,0,.03);
  border-bottom: 1px solid rgba(0,0,0,.125);
}